@font-face {
    font-family: MayekaDemiBold;
    src: url("../fonts/Mayeka\ Demi\ Bold\ Demo.otf") format("opentype");
}
@font-face {
    font-family: MayekaBold;
    src: url("../fonts/Mayeka\ Bold\ Demo.otf") format("opentype");
}
@font-face {
    font-family: MayekaRegular;
    src: url("../fonts/Mayeka\ Regular\ Demo.otf") format("opentype");
}

// Reset
body {
    margin: 0;
    padding: 0 1em;
}

// Config vars
$radar-green: #078f38;
$radar-light-grey: #898989;
$radar-dark-grey: #5d5d5d;

$primary: $radar-green;
$secondary: $radar-light-grey;
$primary-invert: $radar-dark-grey;

//
.layout {
    height: 100vh;
}

// header
header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    z-index: 10;
    padding: calc(1em + 1vw) 0;
    align-items: center;

    .logo {
        transform: none;
        grid-row: 1;
        grid-column: 2 / 5;
        align-self: start;

        img {
            max-height: 50px;
        }
    }

    nav {
        grid-column: 6 / 12;
        overflow: visible;
        position: relative;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end;

            li {
                position: relative;
                display: inline-block;

                a {
                    color: $primary-invert;
                    font-family: "MayekaBold";
                    display: block;
                    margin: 0 3em;
                    padding: .5em;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;

                    &:hover, &:active {
                        color: $primary-invert;
                        border-color: $primary
                    }
                }
            }

        }
    }
}
// main

main {
    height: 100%;
}

.hero-image {
    // background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/coins.jpg");
    background-image: url("../images/coins.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80%;
    position: relative;
}

.hero-text {
    font-family: "MayekaDemiBold";
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        color: $primary;
    }
}

